*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
    padding: 4px 0;
    background-color:#182C61;
    color: #ecf0f1;
    height: 200px;

}

.profile-avatar {
    display: block;
    margin: 0 auto 8px;
    border-radius: 100%;
    width: 180px; 
    height: 180px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    padding-top: 40px;
}

h3 {
    text-align: center;
    padding-top: 24px;
}

.numbers {    
    display: flex;
    justify-content: space-around;
    margin-right: 8px;
    padding: 16px;
    font-size: 32px;
    margin-bottom: 24px;

}




.profile-link {
    background-color: #182C61;
    color: #fff;  
    display: block;
    justify-content: center;    
    text-decoration: none;
    width: 110px;
    margin-bottom: 8px;
    padding: 8px;
    
    margin: 0 auto 0px;
    
}
    


